<div id='message-list' class='row'>
</div>

<div class='row'>
  <div class='column column-25'>
    <input type='text' id='name' class='form-control' placeholder='Name'>
  </div>
  <div class='column column-75'>
    <input type='text' id='msg' class='form-control' placeholder='Message'>
  </div>
</div>